<section
  class="flex min-h-screen flex-col bg-gray-700 bg-[url('https://images.unsplash.com/photo-1540350394557-8d14678e7f91?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-no-repeat bg-blend-multiply"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-grow flex-col items-center justify-center gap-7 px-4 py-24 text-center lg:py-56"
  >
    <img
      src="/assets/logo_smaller.png"
      alt="Battistar logo"
      class="mx-auto h-32 w-auto"
    />
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl"
    >
      The Bestest Of The Todoest Apps
    </h1>
    <p class="text-lg font-normal text-gray-300 sm:px-16 lg:px-48 lg:text-xl">
      Here at Battistar we know how much you TODO. That's why we built the
      TODOEST app.
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        [routerLink]="'/dashboard'"
        class="inline-flex items-center justify-center rounded-lg bg-green-500 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Get started
        <svg
          class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
      <a
        routerLink="/about"
        class="inline-flex items-center justify-center rounded-lg border border-white px-5 py-3 text-center text-base font-medium text-white hover:bg-gray-100 hover:text-gray-900 focus:ring-4 focus:ring-gray-400 sm:ms-4"
      >
        Learn more
      </a>
    </div>
  </div>
</section>
