<!-- FIXME: doesn't work -->
<title>{{ title }}</title>

<div class="min-w-scren flex min-h-screen flex-col">
  <app-header [user]="userStore.user()"></app-header>
  <div class="custom-grid md:flex-grow">
    <aside class="left relative bg-slate-800 py-7 text-slate-200">
      <app-sidebar [menuItems]="dashboardStore.menuItems()"></app-sidebar>
    </aside>
    <header
      class="header-bar flex h-full w-full items-center justify-start bg-slate-500 p-4 text-slate-200"
    >
      <app-top-bar></app-top-bar>
    </header>
    <main class="main bg-slate-300 md:px-14 md:py-8">
      <!-- FIXME named nested route -->
      <!-- <router-outlet name="content"> </router-outlet> -->
      <router-outlet> </router-outlet>
      <!-- TODO: test named router-outlet -->
    </main>
  </div>
</div>
